# start uwsgi server: uwsgi --ini uwsgi.ini

[uwsgi]
processes=4
listen=127
threads=4
master=true
wsgi-file={{ doc_root }}/apps/wsgi.py
module=apps.wsgi:application
socket=/tmp/uwsgi.sock
pidfile=/tmp/fibo-master.pid
pythonpath={{ doc_root }}
home={{ doc_root }}/venv
vacuume=true
chmod-socket=775
env=DJANGO_SETTINGS_MODULE=apps.settings
env=PATH={{ doc_root }}/venv/bin:$PATH
env=PYTHONPATH={{ doc_root }}
uid={{user}}
gid={{group}}
