[program:{{ app_name }}]
user={{ new_owner }}
group={{www_data_grp}}
command={{ doc_root }}/venv/bin/uwsgi --ini {{ doc_root }}/uwsgi.ini
directory={{ doc_root }}
environment=
    PATH="{{ doc_root }}/venv/bin:$PATH",
    PYTHONPATH="{{ doc_root }}",

startsecs=1
startretries=5
autostart=true
autorestart=true
stopsignal=INT

stdout_logfile_maxbytes=20MB
stdout_logfile_backups=10
stdout_capture_maxbytes=1MB
redirect_stderr=true
