server {
    listen 80;
    server_name  _;
    charset utf-8;

    client_max_body_size 75M;

    root {{ doc_root }};

    location / {
        uwsgi_pass unix:///tmp/uwsgi.sock;
        include     /etc/nginx/uwsgi_params;
    }

    location /static {
        alias {{ doc_root }}/current/static/;
    }

    location /media {
        alias {{ doc_root }}/current/media/;
    }

    location /admin/ {
        uwsgi_pass unix:///tmp/uwsgi.sock;
        include     /etc/nginx/uwsgi_params;
        uwsgi_read_timeout  600;

    }
}

 
